<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/favicon.ico">

    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/antd.min.css")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/jstree/style.min.css")
    @Styles.Render("~/Content/exam.ui.css")
    @Styles.Render("~/Content/bootstrap-table.min.css")
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!--[if lte IE 7]>
        <link href="~/Content/font-awesome/css/font-awesome-ie7.min.css" rel="stylesheet" />
        <style>
            i.fa { margin-right: 5px; }
            hr { border-color: #dadada; }
        </style>
        <![endif]-->

    <script>
        //当前网站路径
        document.weburl = "@(Url.Content("~/"))";
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jstree.min.js")
    @Scripts.Render("~/Scripts/bootstrap-table.js")
    @Scripts.Render("~/Scripts/bootstrap-table-zh-CN.min.js")
    @Scripts.Render("~/Scripts/app.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/Scripts/react.min.js")
    @Scripts.Render("~/Scripts/react-dom.min.js")
    @Scripts.Render("~/Scripts/antd.min.js")
    @Scripts.Render("~/Scripts/base.js")
</head>
<body>
    <div class="seekask-topbar bg_c6">
        <div class="seekask-topbar-logo">
            <a class="seekask-header-logo-icon" href="javascript:;"></a>
            <a href="javascript:;" class="seekask-header-logo-text" target="_self"><em>XXXX成绩管理系统</em></a>
        </div>
        <div class="seekask-topbar-info">
            <!-- ngIf: showGlobalSearch -->
            <div class="dropdown seekask-topbar-info-item seekask-topbar-info-user">
                <a href="#" class="dropdown-toggle topbar-title ng-binding" data-toggle="dropdown">
                    系统管理员&nbsp;<span class="caret"></span>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="javascript:;">
                            <span class="ng-binding">个人信息</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:if(confirm('确认退出系统吗?')){window.location.href = document.weburl+'account/Logout'};">
                            <span>退出</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navbar seekask-navbar my-manager">
        <div class="navbar-header">
            <a class="navbar-brand seekask-navbar-title" href="javascript:;">我的管理</a>
        </div>
        <div class="collapse navbar-collapse bs-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="ng-scope active">
                    <a href="@(Url.Content("~/"))"
                       data-ajax-id="web_home"
                       data-ajax-update="#seekask-body-content"
                       data-ajax="true" data-ajax-failure="fnAjaxError"
                       data-ajax-success="fnAjaxSuccess">首页</a>
                </li>
                <li class="ng-scope">
                    <a href="@(Url.Content("~/Home/Test1"))"
                       data-ajax-id="Test1"
                       data-ajax-update="#seekask-body-content"
                       data-ajax="true" data-ajax-failure="fnAjaxError"
                       data-ajax-success="fnAjaxSuccess">训练档案</a>
                </li>
                <li class="ng-scope">
                    <a href="@(Url.Content("~/Exam/Index"))"
                       data-ajax-id="Test2"
                       data-ajax-update="#seekask-body-content"
                       data-ajax="true" data-ajax-failure="fnAjaxError"
                       data-ajax-success="fnAjaxSuccess">成绩管理</a>
                </li>
                <li class="ng-scope">
                    <a href="@(Url.Content("~/BaseManager/Index"))"
                       data-ajax-id="Test3"
                       data-ajax-update="#seekask-body-content"
                       data-ajax="true" data-ajax-failure="fnAjaxError"
                       data-ajax-success="fnAjaxSuccess">基础档案室</a>
                </li>
                <li class="ng-scope">
                    <a href="@(Url.Content("~/Home/Test3"))"
                       data-ajax-id="Test4"
                       data-ajax-update="#seekask-body-content"
                       data-ajax="true" data-ajax-failure="fnAjaxError"
                       data-ajax-success="fnAjaxSuccess">系统管理</a>
                </li>
            </ul>
            <div class="pull-right seekask-navbar-links"></div>
        </div>
    </div>

    <div id="seekask-body-content" class="body-content pd_lr_15 clearfix">
        @RenderBody()
    </div>

    <div class="pd_lr_15">
        <hr class="mg_0" />
        <footer class="text-center pd_tb_10">
            <p>&copy; 2016 - XXXX</p>
        </footer>
    </div>
    

    <script>

        function fnAjaxError(xhr, status, error) {
            antd.notification['error']({
                message: '您的请求出现异常',
                duration: 4,
                description: '异常：' + xhr.responseText,
            });
        }

        function fnAjaxSuccess(data, status, xhr) {
            try {

                var _id = $(this)[0].getAttribute("data-ajax-id");

                var $selectli = $('li > a[data-ajax-id=' + _id + ']', $('.my-manager')).parent("li");
                if ($selectli.length > 0) {
                    $("li.active", $('.my-manager')).removeClass("active");
                    $selectli.addClass('active');
                }
                

            } catch (e) { }
        }
    </script>
    @RenderSection("scripts", required: false)

</body>
</html>
